vti_encoding:SR|utf8-nl
vti_author:SR|THEZDIN\\Jacob P. Litwicki
vti_modifiedby:SR|THEZDIN\\Jacob P. Litwicki
vti_timelastmodified:TR|04 May 2005 18:14:17 -0000
vti_timecreated:TR|01 May 2005 22:39:56 -0000
vti_extenderversion:SR|6.0.2.6353
vti_backlinkinfo:VX|
vti_cacheddtm:TX|04 May 2005 18:14:17 -0000
vti_filesize:IR|116
vti_nexttolasttimemodified:TR|01 May 2005 22:39:56 -0000
